<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.domain.mapper.OaGoodsMapper">

    <select id="getList" resultType="com.oa.application.goods.entity.vo.GoodsDto">
        SELECT
            og.goods_id,
            os.supplier_id,
            os.supplier_name,
            og.`goods_name`,
            og.`goods_code`,
            og.`goods_desc`,
            og.url,
            og.img_url,
            og.sale_price,
            og.cost_price,
            og.`goods_status`,
            og.remake,
            og.create_time
        FROM
            oa_goods og
            LEFT JOIN oa_supplier os ON og.supplier_id = os.supplier_id
        <where>
            <if test="goodsListVo.goodsStatus != null">
                and og.goods_status = #{goodsListVo.goodsStatus}
            </if>
            <if test="goodsListVo.searchType != null and goodsListVo.searchKeyword != null and goodsListVo.searchKeyword != '' and goodsListVo.searchType == 0">
                and og.`goods_name` like concat('%', #{goodsListVo.searchKeyword}, '%')
            </if>
            <if test="goodsListVo.searchType != null and goodsListVo.searchKeyword != null and goodsListVo.searchKeyword != '' and goodsListVo.searchType == 1">
                and og.`goods_code` like concat('%', #{goodsListVo.searchKeyword}, '%')
            </if>
            <if test="goodsListVo.searchType != null and goodsListVo.searchKeyword != null and goodsListVo.searchKeyword != '' and goodsListVo.searchType == 2">
                and og.`goods_id` like concat('%', #{goodsListVo.searchKeyword}, '%')
            </if>
            and og.`logic_del` = 1 and og.`create_by` = #{goodsListVo.createBy}
        </where>
            order by og.create_time desc
    </select>
</mapper>
